<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}"></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}" th:text="#{visiidile.registreerimine}"></a></li>
                <li><a th:href="@{/visits/}" th:text="#{regstreeringute.nimekiri}"></a></li>
            </ul>
        </div>
    </nav>
</div>
</html>