<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>

    <script type="text/javascript">
        $(function () {
            $('#datepicker').datetimepicker({
                format: 'DD.MM.YYYY'
            });
        });

        $(function () {
            $('#timepicker').datetimepicker({
                format: 'HH:mm'
            });
        });
    </script>
</head>
<body>
<div th:include="fragments/navbar :: navbar"></div>
<div class="container">
    <h2 th:text="#{visiidile.registreerimine}">visiidile.registreerimine</h2>

    <form action="#" th:action="@{/}" th:object="${dentistVisitDTO}" method="post">
        <div class="row">
            <div class="form-group col-lg-4">
                <label th:text="#{arsti.nimi}">arsti.nimi</label>
                <select class="form-control" th:field="*{dentistName}">
                    <option th:each="dentistName: ${dentistList}"
                            th:value="${dentistName}"
                            th:text="${dentistName}">
                    </option>
                </select>
                <p th:if="${#fields.hasErrors('dentistName')}" th:errors="*{dentistName}"></p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-4">
                <label th:text="#{visiidi.kuupaev}">visiidi.kuupaev</label>
                <input type="text" class="form-control" id='datepicker' th:field="*{visitDate}"/>
                <p th:if="${#fields.hasErrors('visitDate')}" th:errors="*{visitDate}">Kuupäeva viga</p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-4">
                <label th:text="#{visiidi.kellaaeg}">visiidi.kuupaev</label>
                <input type="text" class="form-control" id="timepicker" th:field="*{visitTime}"/>
                <p th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">Kellaaja viga</p>
            </div>
        </div>
        <button type="submit" class="btn btn-default" th:text="#{registreeri.visiidile}"></button>
    </form>
</div>
</body>
</html>