<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="row">
        <div class=".col-md-6 pull-right">
            <form class="form-inline" role="search" th:action="@{/visits/search}" th:method="'post'">
                <div class="form-group">
                    <input type="text" class="form-control" th:placeholder="#{otsi.visiiti}" th:name="search"/>

                </div>
                <button type="submit" class="btn btn-default" th:text="#{kinnita.muudatused}"></button>
                <span id="helpBlock" class="help-block" th:text="#{otsi.nimega}"></span>
            </form>
        </div>
    </div>
    <div class="row">

        <h2 th:text="#{regstreeringute.nimekiri}">regstreeringute.nimekiri</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{arsti.nimi}">arsti.nimi</th>
                <th th:text="#{visiidi.kuupaev}">visiidi.kuupaev</th>
                <th th:text="#{visiidi.kellaaeg}">visiidi.kellaaeg</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${not #lists.isEmpty(searchResults)}" th:each="result : ${searchResults}">
                <td th:text="${result.dentistName}">arsti.nimi</td>
                <td th:text="${#dates.format(result.visitDate, 'dd.MM.yyyy')}">visiidi.kuupaev</td>
                <td th:text="${#dates.format(result.visitTime, 'HH:mm')}">visiidi.kellaaaeg</td>
                <td><a th:href="@{'/visits/' + ${result.id}}" th:text="#{vaata.detaile}"></a></td>
            </tr>
            <tr th:each="visit : ${allVisits}">
                <td th:text="${visit.dentistName}">arsti.nimi</td>
                <td th:text="${#dates.format(visit.visitDate, 'dd.MM.yyyy')}">visiidi.kuupaev</td>
                <td th:text="${#dates.format(visit.visitTime, 'HH:mm')}">visiidi.kellaaaeg</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>