<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <script src="https://code.jquery.com/jquery-3.2.0.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"
            integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
            crossorigin="anonymous"></script>
</head>
<body>
<div th:include="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="row">
        <h2 th:text="#{regstreeringu.detailid}">regstreeringu.detailid</h2>

        <dl class="dl-horizontal">
            <dt th:text="#{arsti.nimi}">arsti.nimi</dt>
            <dd th:text="${visit.dentistName}"></dd>
            <dt th:text="#{visiidi.kuupaev}">visiidi.kuupaev</dt>
            <dd th:text="${#dates.format(visit.visitDate, 'dd.MM.yyyy')}"></dd>
            <dt th:text="#{visiidi.kellaaeg}">visiidi.kellaaeg</dt>
            <dd th:text="${visit.visitTime}"></dd>
        </dl>

        <p>
        <div class="btn-group" role="group">
            <form th:action="@{'/visits/' + ${visit.id} + '/delete'}" th:method="'delete'">
                <button type="submit" class="btn btn-default" th:text="#{kustuta.registreering}"></button>
                <a class="btn btn-default" th:href="@{'/visits/' + ${visit.id} + '/edit'}" th:text="#{muuda.registreeringut}"
                   role="button"></a>
                <a class="btn btn-default" th:href="@{/visits}" th:text="#{tagasi.nimekirja}" role="button"></a>
            </form>
        </div>
        </p>
    </div>
</div>
</body>
</html>